<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weiho.scaffold.system.mapper.AvatarMapper">

    <select id="selectAvatarList" resultType="com.weiho.scaffold.system.entity.vo.AvatarVO">
        SELECT u.username, a.id,a.real_name,a.path,a.size,a.enabled,a.create_time,a.update_time,a.is_del
        FROM user u,avatar a
        WHERE u.avatar_id = a.id
        <if test="usernameLike != null">
            AND u.username LIKE CONCAT('%',#{usernameLike},'%')
        </if>
    </select>
</mapper>