<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weiho.scaffold.system.mapper.AvatarMapper">

    <select id="selectAvatarList" resultType="com.weiho.scaffold.system.entity.vo.AvatarVO">
        SELECT u.username, a.id,a.real_name,a.path,a.size,a.enabled,a.create_time,a.update_time,a.is_del
        FROM user u
        LEFT JOIN avatar a ON u.avatar_id = a.id
        WHERE u.is_del = 0
        AND (a.is_del = 0 OR u.avatar_id IS NULL)
        <if test="usernameLike != null">
            AND u.username LIKE CONCAT('%',#{usernameLike},'%')
        </if>
        <if test="createTimeStart != null and createTimeEnd != null">
            AND a.create_time BETWEEN #{createTimeStart} AND #{createTimeEnd}
        </if>
    </select>
</mapper>