<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiho.scaffold.system.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.weiho.scaffold.system.entity.User">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_del" property="isDel"/>
        <result column="avatar_id" property="avatarId"/>
        <result column="username" property="username"/>
        <result column="password" property="password" typeHandler="com.weiho.scaffold.mp.handler.EncryptHandler"/>
        <result column="sex" property="sex"/>
        <result column="email" property="email" typeHandler="com.weiho.scaffold.mp.handler.EncryptHandler"/>
        <result column="phone" property="phone" typeHandler="com.weiho.scaffold.mp.handler.EncryptHandler"/>
        <result column="enabled" property="enabled"/>
        <result column="last_pass_reset_time" property="lastPassResetTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        update_time,
        is_del,
        id, avatar_id, username, password, sex, email, phone, enabled, last_pass_reset_time
    </sql>

    <update id="updatePass">
        UPDATE user
        SET password             = #{password},
            last_pass_reset_time = #{lastPassResetTime}
        WHERE username = #{username}
          AND is_del = 0
    </update>

    <update id="updateEmail">
        UPDATE user
        SET email = #{newEmail,typeHandler=com.weiho.scaffold.mp.handler.EncryptHandler}
        WHERE username = #{username}
          AND is_del = 0
    </update>

    <select id="findByUsername" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        user
        WHERE username = #{username}
        AND is_del = 0
    </select>

</mapper>
