<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiho.scaffold.logging.mapper.LogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.weiho.scaffold.logging.entity.Log">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_del" property="isDel"/>
        <result column="title" property="title"/>
        <result column="business_type" property="businessType"/>
        <result column="method" property="method"/>
        <result column="request_method" property="requestMethod"/>
        <result column="username" property="username"/>
        <result column="request_url" property="requestUrl"/>
        <result column="request_ip" property="requestIp"/>
        <result column="browser" property="browser"/>
        <result column="address" property="address"/>
        <result column="request_params" property="requestParams"/>
        <result column="response_result" property="responseResult"/>
        <result column="log_type" property="logType"/>
        <result column="status" property="status"/>
        <result column="exception_detail" property="exceptionDetail"/>
        <result column="time" property="time"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        update_time,
        is_del,
        id, title, business_type, method, request_method, username, request_url, request_ip, browser, address,
        request_params, response_result, status, exception_detail, time
    </sql>

    <update id="deleteByLogType">
        UPDATE log
        SET is_del = 1
        WHERE log_type = #{logType}
          AND is_del = 0
    </update>

    <select id="selectByUsername" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM log
        WHERE username = #{username}
        AND log_type = #{logType}
        AND is_del = 0
    </select>
</mapper>
